# Virtualenv
[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
[Ss]cripts
pyvenv.cfg
venv
pip-selfcheck.json
logs
sequential.model
sequential
*.pickle
*.csv
download.log
*.jpg
train_embs.npy
x_trains.npy
y_trains.npy
x_tests.npy
y_tests.npy
/y_trains.npy
/x_trains.npy
/train_embs.npy
/train.csv
/saved_img.jpg
/sample_submission.csv
/people.jpg
/download.log
/weights/
/venv/
/sequential/
/logs/
/images/
.idea/sonarlint/issuestore/0/a/
.idea/sonarlint/issuestore/3/
.idea/sonarlint/issuestore/4/b/
.idea/sonarlint/issuestore/5/6/
.idea/sonarlint/issuestore/7/
.idea/sonarlint/issuestore/8/c/
/.idea
/__pycache__/
*.h5
/x_test.npy
/x_train.npy
/y_test.npy
/y_train.npy
/y_train_128.npy
/y_train_221.npy
/y_test_128.npy
/y_test_221.npy
/x_train_128.npy
/x_train_221.npy
/x_test_128.npy
/x_test_221.npy
/facescrub.py
/facescrub_actors.txt
/facescrub_actresses.txt
/model/facenet_keras.h5
/model/facenet_keras_weights.h5
/model/mmod_human_face_detector.dat
/model/nn4.small1.v1.t7
/model/nn4.small2.v1.h5
/model/nn4.small2.v1.t7
/model/nn4.v1.t7
/model/nn4.v2.t7
/model/shape_predictor_68_face_landmarks.dat
/model/vgg-face-keras.h5
/y_train_128_lfw.npy
/y_test_128_lfw.npy
/x_train_128_lfw.npy
/x_test_128_lfw.npy
