# Virtualenv
[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
[Ss]cripts
pyvenv.cfg
venv
pip-selfcheck.json
logs
sequential.model
sequential
*.pickle
*.csv
*.jpg
/weights/
/venv/
/logs/
/images/
/.idea
/__pycache__/
*.[h5]
*.[npy]
/model/
*.[zip]
*.[tsv]
*.[bytes]
/data/
/embs96.npy
/embs96-DENSE.npy
/embs96-test-5.npy
/embs-96.npy
/LFW_96_Irene_labels.tsv
/LFW_96_Irene_tensor.bytes
