# Virtualenv
[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
[Ss]cripts
pyvenv.cfg
venv
pip-selfcheck.json
logs
sequential.model
sequential
*.[pickle]
*.[csv]
*.[jpg]
*.[h5]
*.npy
*.zip
*.[tsv]
*.[bytes]
/weights/
/venv/
/logs/
/images/
/.idea
/__pycache__/
/model/
/data/*
/data/
